body {
background-color: rgb(239, 239, 249);

}



nav {
	position: relative;
	margin: 0% 2%;
	border-radius: 10px  0px 10px 0px;
	border: solid blue 2px;	
	background-color: rgb(106, 138, 186);
}



nav li {
	display: inline-block;
	overflow: hidden;
    text-align: center;
    text-decoration: none;
	display: inline-block;

	position: relative;
	
}



ul {
	padding:0;
	margin:0;
	position: relative;
	list-style: none;
	background-color: rgb(106, 138, 186);
	
}


li  {	
	color: white;
	list-style: none;
	text-align: center;
	background-color: rgb(106, 138, 186);
	color: Black;
	text-decoration: none;
	text-align: center;
	padding: 10px 10px;
	
	
	

}

a{
	padding-top: 15px;
	
	float:left;
	display: inline-block;
	text-decoration: none;
	position: relative;
	
}


li a{
	margin: 10px;
	display: inline-block;
	height: 60px;
	width: 90px;
}

li a:hover{
	margin: 10px;
	/*padding top makes sure the size does not grow in height*/
	padding-top:5px;
	border-top: 10px solid;
	background-color: rgb(68, 96, 122);
	border-radius: 5px;
	
	transition: all ease-in-out 300ms;
}


.main {
	background-color: rgb(239, 239, 249);

	
	/* Borders removed/turned on for making sure content is aligned.
	
	border: solid black 1px;
	border-radius: 15px 0px 15px 0px; */
	

	margin: 2% 5%;
	    
	
	display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-gap: 1em;
	

}


.main div:nth-child(even){
	background-color: rgb(237, 219, 201);
	
}


.main div:nth-child(odd){
	background-color: rgb(201, 220, 226);
}


.content h4{
	font-family: sans-serif;
	
}

.content p{
	color: black;
	font-size: 16px;
	font-feature-settings: normal;
	font-weight: 200;
	
}

.content {
	padding: 0.5em;
	color:blue;
	font-family:sans-serif;
	font-size: 18px;
	border: solid black 1px;
	border-radius: 20px 0px 20px 0px;
	
	/* n x viewport height/width */
	Height: 45vh;
	
	
	/* setter box grense for innhold osv */
	box-sizing: border-box;
	
}

.main2  {
	background-color: rgb(239, 239, 249);

	
	/* Borders removed/turned on for making sure content is aligned.
	
	border: solid black 1px;
	border-radius: 15px 0px 15px 0px; */
	

	margin: 2% 5%;
	    
	
	display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1em;
}

.content2 {
	padding: 0.5em;
	color:blue;
	font-family:sans-serif;
	font-size: 18px;
	border: solid black 1px;
	border-radius: 20px 0px 20px 0px;
	
	/* n x viewport height/width */
	Height: auto;
	
	
	/* setter box grense for innhold osv */
	box-sizing: border-box;
	
}	



/* H1 is only for testing */
h1 {
	background-color:;
	border-radius: 5px;
	padding: 0;
	margin:0;
}
